.email-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 0.5rem;
}

.form-input {
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  border: solid grey 1px;
}

.message { 
  resize: none;
  height: 10rem;
  padding-top: 0.5rem;
}