.header-component {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.35);
  z-index: 1;
  align-items: center;
  height: 7rem;
  padding: 0vh 10vw ;
}

.header-nav-toggle {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-all-nav {
  display: flex;
  gap: 2rem;
}

.header-link {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}

.header-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.5rem;
}

.header-togglers {
  display: flex;
  gap: 0.5rem;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-style: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.mode-icon {
  height: 2rem;
  width: 2rem;
}

.lang-flag {
  height: 1.5rem;
  width: 2rem;
}