.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  padding: 0vh 10vw ;
}

.header-nav-toggle {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header-all-nav {
  display: flex;
  gap: 2em;
}

.header-link {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.5em;
}

.header-togglers {
  display: flex;
  gap: 0.5em;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 4em;
  border-style: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.mode-icon {
  height: 2em;
  width: 2em;
}

.lang-flag {
  height: 1.5em;
  width: 2em;
}