.project-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 30rem;
  border-radius: 25px;

  &:hover {
    transition: 500ms;
  }
}

.project-card-ttl {
  padding-top: 1rem;
  color: aliceblue;
}

.project-card-type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 700;
}

.type {
  background-color: antiquewhite;
  color: black;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.project-card-image {
  height: 20rem;
  max-width: 90%;
  object-fit: cover;
  border-radius: 20px;
  border: solid black 1px;
}

.project-card-description {
  width: 80%;
  display: flex;
  align-items: center;
  height: 6rem;
  text-align: center;
  font-weight: 500;
  color: aliceblue;
}

.project-card-links {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: antiquewhite;
  color: black;
  border-radius: 50px;
  padding: 1rem;
  width: 10rem;

  &:hover {
    background-color: rgb(253, 219, 174);
  }
}