.project-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 25rem;
  border-radius: 25px;
  padding: 1rem;

  &:hover {
    transition: 500ms;
  }
}

.project-card-type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 700;
}

.type {
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.project-card-container-image {
  height: 20rem;
  width: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    .project-card-image {
      filter: blur(2px) brightness(30%);
      transition: 500ms;
    }

    .test-div {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      transition: 500ms;
    }
  }
}

.project-card-image {
  height: 20rem;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
}

.test-div {
  height: 20rem;
  width: 90%;
  border-radius: 20px;
  position: absolute;
  display: none;
}

.project-card-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.icon {
  height: 5rem;
}

.project-card-description {
  width: 80%;
  display: flex;
  align-items: center;
  height: 6rem;
  text-align: center;
  font-weight: 500;
}

.project-card-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 700;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  padding: 1rem;
  width: 10rem;
}