.card-main {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  border-radius: 10%;
  height: 11rem;
  width: 10rem;
  gap: 1rem;
}

.stack-name {
  padding-top: 1rem;
}

.stack-image {
  height: 5rem;
}