.about-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 100%;
  gap: 5em;
}

.about-ttl {
  padding-top: 2em;
}

.about-main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.about-front-image {
  height: 50vh;
  width: 30vw;
  border-radius: 30%;
}