.about-view {
  height: 101vh;
  display: flex;
  flex-direction: column;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 100%;
  gap: 5rem;
}

.about-ttl {
  padding-top: 2rem;
}

.about-main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.about-front-image {
  height: 50vh;
  width: 30vw;
  border-radius: 30%;
}

.about-opening {
  width: 35rem;
  text-align: center;
  font-size: large;
  font-weight: 500;
}