.contact-page-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 100%;
}

.components-wrap {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
}

.contact-page-links {
  display: flex;
}