.homepage-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.homepage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  gap: 3rem;
}

.homepage-caio-profile {
  width: 35vw;
}

.homepage-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage-intro-beginning {
  min-width: 40rem;
  font-size: 1rem;
}

.homepage-intro-name {
  font-size: 6rem;
  font-weight: 800;
  padding-left: 2rem;
}

.homepage-intro-end {
  min-width: 40rem;
  font-size: 1.5rem;
}