.projects-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 100%;
  gap: 2rem;
  padding: 0vh 10vw;
}

.projects-ttl {
  padding-top: 2rem;
  text-align: center;
}

.projects-txt {
  text-align: center;
}

.projects-outer-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-carousel {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.projects-carousel-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.chevron {
  height: 5rem;
}

.projects-cards {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 56rem;
  gap: 2rem;
  padding: 1rem;
}
