@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$bright-white: #eeeeee;
$white: #F7F8F2;
$gray-white: #D4D3CE;
$light-grey: #D8DCE7;
$grey: #808080;
$dark-grey: #45484D;
$black: #060607;
$blue: #25476A;
$purple: #775079;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

//changed the svg colors using this website: https://codepen.io/sosuke/pen/Pjoqqp

@keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes FadeInLeft {
  from { opacity: 0; left: -10%; }
  to   { opacity: 1; left: 0%; }
}

@keyframes FadeInRight {
  from { opacity: 0; right: -10%; }
  to   { opacity: 1; right: 0%; }
}

@keyframes FadeInBot {
  from { opacity: 0; bottom: -10%; }
  to   { opacity: 1; bottom: 0%; }
}

.fade-in {
  position: relative;
  animation: FadeIn 3s;
}

.fade-in-300 {
  position: relative;
  animation: FadeIn 3s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.fade-left {
  position: relative;
  animation: FadeInLeft 2s;
}

.fade-left-300 {
  position: relative;
  animation: FadeInLeft 2s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.fade-right {
  position: relative;
  animation: FadeInRight 2s;
}

.fade-right-300 {
  position: relative;
  animation: FadeInRight 2s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.fade-right-600 {
  position: relative;
  animation: FadeInRight 2s;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

.fade-bot {
  position: relative;
  animation: FadeInBot 2s;
}

.fade-bot-300 {
  position: relative;
  animation: FadeInBot 2s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.fade-bot-600 {
  position: relative;
  animation: FadeInBot 2s;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

.fade-bot-900 {
  position: relative;
  animation: FadeInBot 2s;
  animation-delay: 900ms;
  animation-fill-mode: both;
}

.fade-bot-1200 {
  position: relative;
  animation: FadeInBot 2s;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}

.hidden {
  display: hidden;
}

.dark-mode {
  .mode-icon, .chevron {
    filter: invert(100%) sepia(60%) saturate(4%) hue-rotate(336deg) brightness(108%) contrast(87%);
  }
  .header-bg, .odd {
    background-color: $blue;
    transition: 300ms;
  }
  .page-bg, .even {
    background-color: $dark-grey;
    transition: 300ms;
  }
  .title {
    color: $bright-white;
  }
  .text {
    color: $white;
  }
  .link {
    color: $blue;
  }
  .card-bg {
    background-color: $grey;
    border: solid 1px $white;
  }
  .button-bg {
    background-color: $gray-white;
  }
  .header-link {
    color: $bright-white;
    
    &:hover {
      color: $black;
    }
  }
  .selected {
    color: $black;
  }
  .toggler {
    background-color: $black;
  }
  .homepage-intro-name, .header-logo {
    color: $purple;
    text-shadow: 5px 5px 5px $black;
  }
  .form-sub-button {
    background-color: $gray-white;
    color: $blue;

    &:disabled {
      background-color: $grey;
    }
  }
}

.light-mode {
  .mode-icon, .chevron {
    filter: invert(23%) sepia(11%) saturate(2870%) hue-rotate(170deg) brightness(97%) contrast(87%);
  }
  .header-bg, .odd {
    background-color: $gray-white;
    transition: 300ms;
  }
  .page-bg, .even {
    background-color: $light-grey;
    transition: 300ms;
  }
  .title {
    color: $blue;
  }
  .text {
    color: $dark-grey;
  }
  .link {
    color: $bright-white;
  }
  .card-bg {
    background-color: $gray-white;
    border: solid 1px $dark-grey;
  }
  .button-bg {
    background-color: $blue;
  }
  .header-link {
    color: $blue;
    
    &:hover {
      color: $purple;
    }
  }
  .selected {
    color: $purple;
  }
  .toggler {
    background-color: $bright-white;
  }
  .homepage-intro-name, .header-logo {
    color: $blue;
    text-shadow: 5px 5px 5px $grey;
  }
  .form-sub-button {
    background-color: $blue;
    color: $bright-white;

    &:disabled {
      background-color: $grey;
    }
  }
}
