@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$teste-azul: #4A4E69;
$teste-bege: #F2E9E4;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

//changed the svg colors using this website: https://codepen.io/sosuke/pen/Pjoqqp

.dark-mode {
  .mode-icon, .chevron {
    filter: invert(100%) sepia(50%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(101%);
  }
  .toggler {
    background-color: #303030;
  }
  .form-sub-button {
    background-color: #545454;
    color: #fff;

    &:hover {
      background-color: #2e2e2e;
    }
    
    &:disabled {
      background-color: grey;
    }
  }
  .header-bg, .odd, .project-card-main {
    background-color: #545454;
  }
  .header-bg
  .project-card-main {
    // border: solid white 1px;

    &:hover {
      box-shadow: 5px 5px 5px grey;
    }
  }
  .card-main {
    &:hover {
      box-shadow: 5px 5px 5px grey;
    }
  }
  .project-card-image {
    border: solid black 1px;
  }
  .bg,
  .contact-bg,
  .skills-bg,
  .even,
  .projects-bg {
    background-color: rgb(0, 0, 0);
    transition: 300ms;
  }
  .card-bg {
    background-color: darkgrey;
  }
  .ttl,
  .about-ttl,
  .projects-ttl,
  .skills-ttl,
  .contact-ttl {
    color: whitesmoke;
  }
  .project-card-ttl {
    color: whitesmoke;
  }
  .header-link {
    color: #fff;

    &:hover {
      color: red;
    }
  }
  .txt,
  .contact-txt,
  .projects-txt,
  .homepage-txt,
  .about-card-txt {
    color: antiquewhite;
  }
  .selected {
    color: black;
  }
  .social-anchor {
    &:hover {
      background-color: red;
    }
  }
  .type {
    background-color: antiquewhite;
    color: black;
  }
  .project-card-description {
    color: aliceblue;
  }
  .link {
    background-color: antiquewhite;
    color: black;

    &:hover {
      background-color: rgb(253, 219, 174);
    }
  }
}

.light-mode {
  .mode-icon, .chevron {
    filter: invert(0%) sepia(0%) saturate(7%) hue-rotate(149deg) brightness(101%) contrast(100%);
  }
  .toggler {
    background-color: antiquewhite;
  }
  .form-sub-button {
    background-color: #0466C8;
    color: #fff;

    &:hover {
      background-color: #02376d;
    }
    
    &:disabled {
      background-color: grey;
    }
  }
  .header-bg, .odd, .project-card-main {
    background-color: #0466C8;
  }
  .header-bg
  .project-card-main {
    // border: solid black 1px;

    &:hover {
      box-shadow: 5px 5px 5px grey;
    }
  }
  .card-main {
    &:hover {
      box-shadow: 5px 5px 5px grey;
    }
  }
  .project-card-image {
    border: solid black 1px;
  }
  .bg,
  .contact-bg,
  .skills-bg,
  .even,
  .projects-bg {
    background-color: antiquewhite;
    transition: 300ms;
  }
  .card-bg {
    background-color: darkgrey;
  }
  .ttl,
  .about-ttl,
  .projects-ttl,
  .skills-ttl,
  .contact-ttl {
    color: rgb(26, 25, 25);
  }
  .project-card-ttl {
    color: whitesmoke;
  }
  .header-link {
    color: #fff;

    &:hover {
      color: red;
    }
  }
  .txt,
  .contact-txt,
  .projects-txt,
  .homepage-txt,
  .about-card-txt {
    color: black;
  }
  .selected {
    color: rgb(6, 255, 6);
  }
  .social-anchor {
    &:hover {
      background-color: red;
    }
  }
  .type {
    background-color: antiquewhite;
    color: black;
  }
  .project-card-description {
    color: aliceblue;
  }
  .link {
    background-color: antiquewhite;
    color: black;

    &:hover {
      background-color: rgb(253, 219, 174);
    }
  }
}